body {
    font-family: 'Lato';
    color: white;
    font-weight: 300;
}

.jumbotron {
    background: rgba(239, 118, 122, 0.3);
    height: 100vh;
    margin: 0;
}

.jumbotron h1 {
    color: white;
    align-self: center;
}

.jumbotron h3 {
    color: white;
    align-self: center;
    margin-top: 0;
}

.container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container a {
    align-self: center;
}

.home {
    background: url("../../assets/images/church.png");
    background-size: cover;
    height: 100vh;
}


/* button {
    border: none;
    color: white;
    padding: 10px;
    border-radius: 2px;
} */

button {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background: #EF767A;
    font-size: 15px;
    /* font-weight: 300; */
    color: white;
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
    padding: 10px 30px;
    margin: 0 auto;
    box-shadow: 0 6px #d76a6d;
    border-radius: 10px;
}

button:hover {
    box-shadow: 0 4px #d76a6d;
    top: 2px;
}

button:active {
    box-shadow: 0 0 #d76a6d;
    top: 6px;
}