.jumbotron {
    background: rgba(239, 118, 122, 0.3);
    height: 100vh;
    margin: 0;
}

.jumbotron H1 {
    color: white;
    align-self: center;
}

.container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.home {
    background: url("../../assets/images/church.png");
    background-size: cover;
    height: 100vh;
}

button {
    background-color: white;
}